.form-group
  = f.label :name, 'Name'
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :domain, 'Domain'
  = f.text_field :domain, class: 'form-control'
.form-group
  = f.label :user_update_callback, 'User Update Callback'
  = f.text_field :user_update_callback, class: 'form-control'
.form-group
  = f.label :auth_token_callback, 'Authentication Token Callback'
  = f.text_field :auth_token_callback, class: 'form-control'